.Header
  .Title
    配送方法・料金ガイド

.App_contents
  .App_contents__btn
    = link_to mercari_index_path class: ".App_contents__btn" do
      メルカリをご利用の方はコチラ
  .App_contents__btn
    = link_to "ラクマをご利用の方はコチラ"
